# credentials

# dependencies
/themes/academy/node_modules

# testing

# production

# misc
/plugins
/upgrade
/uploads
/themes/twentynineteen
/themes/twentytwenty
/themes/twentyseventeen
/themes/coding-academy/inc
/themes/coding-academy/package.json
/themes/coding-academy/package-lock.json
/themes/coding-academy/webpack.config.js
/themes/coding-academy/screenshot.png
/themes/coding-academy/images/
/themes/coding-academy/js/
/themes/coding-academy/css/
index.php
